# Compilado y binarios
/target/
*.class
*.jar
*.war

# IDEs (IntelliJ, Eclipse, VSCode)
/.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# Configuración sensible (¡Crucial!)
src/main/resources/application.properties
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs y temporales
/logs/
*.log
/data/